<h2>Add a field officer</h2>
<form col-md-8>
    <div class="form-group">
      <label for="officerName">Name: </label>
      <input type="text" class="form-control" id="officerName" placeholder="Enter Officer's Name">
    </div>
    <div class="form-group">
      <label for="password">Initial password: </label>
      <input type="text" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="phone">Phone: </label>
        <input type="number" class="form-control" id="phone" placeholder="Officer's Phone">
    </div>
    <div class="form-group">
        <label for="password">Initial password: </label>
        <input type="text" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="row g-2">
         <button type="submit" class="btn btn-primary col-md">Submit</button>
        &nbsp;
        <button type="reset" class="btn btn-secondary col-md">Reset</button>
     </div>
   
  </form>
