<div class="container">
    <div class="header">
        <!-- <div>
            <input type="text" class="form-control" [(ngModel)]="filter"
            placeholder="Search text here... ">
            <br>
        </div>  -->
    </div>
    <div style="overflow-x: scroll;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Request Message</th>
                    <th>Status</th>
                    <th>Officer Status</th>
                    <th>Amount</th>
                    <th>Months</th>
                    <th>verified by Officer</th>
                    <th>Customer</th>
                    <th>Assigned Field Officer</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let user of this.usersService.users | filter:filter | paginate: {itemsPerPage:4, currentPage: page}"  [ngStyle]="{'background-color': user.active === true ? 'white' : '#F9EBEA' }"> -->
                <tr *ngFor="let request of this.requestService.assignOfficerRequests"  >
                    <td>{{request.reqId}}</td>
                    <td>{{request.reqMsg}}</td>
                    <td>{{request.status}}</td>
                    <td>{{request.officerStatus}}</td>
                    <td>{{request.amount}}</td>
                    <td>{{request.months}}</td>
                    <td>{{request.isVerified}}</td>
                    <td>{{request.custId}}</td>
                    <td>
                        <select [(ngModel)]="selectedOfficer">
                            <option default>Select a Officer</option>
                            <option *ngFor="let officer of this.fieldofficerService.fieldOfficers" value="{{officer.officerId}}">{{officer.name}}</option>
                        </select>
                    </td>
                    <!-- <td>{{request.officerId}}</td> -->
                    
                    <td>
                        <button class="btn btn-primary p-1 mx-1"
                            (click)="assignOfficer(request)"
                        >Sent</button>
                    </td>
                
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer">
        <!-- pagination -->
        <!-- <pagination-controls (pageChange)="page = ($event)"></pagination-controls> -->
    </div>
</div>

