<h1 class="text-center">Welcome Admin</h1>


<div class="container mt-5">


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-dark shadow bg-light mb-3 mx-2">
                    <div class="card-header text-center"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h3 class="card-text text-center">100000</h3>
                    <p class="card-title text-center">Total Customers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-dark shadow bg-light mb-3 mx-2">
                    <div class="card-header text-center"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h3 class="card-text text-center">100000</h3>
                    <p class="card-title text-center">Total Loan Given by Bank</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-dark shadow bg-light mb-3 mx-2">
                    <div class="card-header text-center"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h3 class="card-text text-center">100000</h3>
                    <p class="card-title text-center">Total Feild Officers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h3 class="text-center">Requests</h3>
        <app-requestlist></app-requestlist>
    </div>



    <div class="container mt-5">
        <h3 class="text-center">All Customers List</h3>
        <app-customerlist></app-customerlist>
    </div>
    

    <div class="container mt-5">
        <h3 class="text-center">All Feild Officers List</h3>
        <!-- <app-fieldofficerlist></app-fieldofficerlist> -->
    </div>





</div>