<!-- private String custName;
	private String password;
	private String email;
	private long phone;
	private String panCard;
	private long adharCard;
	private double salary;
	private String address;
	private boolean isActive;
	private int isLimitExceed = 0;
	private int cibil = 0; -->
  
<div class="container">
  <h2>Hi Customer</h2>
  <hr>
  <div class="alert alert-danger" role="alert">
   <p> If you have not completed your profile your loan application wont't be proceed. </p> &nbsp;
    <button class="btn btn-outline-danger">Complete my profile now</button>
  </div>
  <form class="col-md-5">
    <div class="form-outline mb-4">
      <label for="mobile" class="form-label">Mobile: </label>
      <input type="text" class="form-control" id="mobile">
    </div>
    <div class="form-outline mb-4">
      <label for="pan" class="form-label">Pan: </label>
      <input type="text" id="pan" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <label for="aadhar" class="form-label">Aadhar: </label>
      <input type="text" id="aadhar" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <label for="salary" class="form-label">Salary: </label>
      <input type="text" id="salary" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <label for="address" class="form-label">Address: </label>
      <textarea name="address" class="form-control" id="address" cols="30" rows="5"></textarea>
    </div>
  </form>
</div>